html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
canvas {
  padding: 0;
  margin: 0;
}

button {
  position: relative;
  top: -2em;
  left: 25%;
  width: 4em;
  padding: 0;
  height: 4em;
  background: greenyellow;
  border: none;
  font-size: 2.2em;
  color: black;
}
button:hover {
  border: 5px solid orange;
}
